header{ position: fixed; left: 0; width: 100%; height: 70px;  top:0; 
	background-color: rgba(0,0,0,.3); z-index: 1000;position: fixed;left: 0;top: 0;s}
.container{ width: 1200px; margin:0 auto;}

.mainnav{ float: right;margin: 0;margin-right: 200px;}
.mainnav li{ float: left; width: 100px; text-align: center;height: 60px;line-height: 60px;border-radius: 0 0 10px 10px;margin-right: 20px;}
.mainnav li:hover,.active{ background-color:lightgrey;}
.mainnav  a{ color: #fff; display: block;font-size:14px ;}





.s1{background-image:url(../img/bg1.jpg);color: #fff;}
.s1 .signature{ margin-left: 200px;}
.s2 {position: relative;background-image: url(../img/bg3.jpg);background-size: cover}
.s2 h1{position: absolute;left: 40%;top:90px;font-size: 40px;color: #fff;}
.s2 h1 span{font-size: 60px;border-bottom: 5px solid yellow;};
.s2 #madan p{position: absolute;left: 400px;top:200px;font-size: 14px;} 
#madan p{position: absolute;left: 450px;top:190px;font-size: 12px;color: #999;width: 600px;}
.s2 .people img{border-radius: 150px;}
.s2 .people{position: absolute;left:15%;top: 240px;font-size: 12px;}
.s2 .people ul{float: right;}
.s2 .people li{height: 30px;line-height: 30px;margin-top: 20px;color: #fff;}
.s2 .people li span{margin-right: 20px;height: 25px;width: 70px;border-radius: 5px;background-color: #969461;display: inline-block;line-height: 25px;text-align: center;color: #fff;}
.s2 .pic1{margin-left: 700px;height: 200px;width: auto;margin-top: 100px;}
.s3{background-image:url(../img/bg5.jpg);color: #fff;}
.s3 .content ul{float: left;margin-top: -30px;}
.s3 .content ul li{height: 240px;width: 300px;display: block;margin-right: 20px;background-color: #eee;float: left;margin-top: 20px;text-align: center;transition: all 1s ease;cursor: pointer;position: relative;}
.s3 .content ul li img{height: 160px;width: 260px;margin-bottom: -10px;margin-top: 20px;}
.s3 .content ul li:hover{transform: scale(1.1);}
.s3 .mywork{margin-left: 550px;margin-top: 40px;}
.s4 {background-image: url(../img/bg6.jpg);background-size: cover;}

